:root {
    --primary-50: 238, 240, 235;
    --primary-100: 222, 224, 215;
    --primary-200: 190, 194, 175;
    --primary-300: 158, 164, 135;
    --primary-400: 126, 134, 95;
    --primary-500: 99, 109, 74;
    --primary-600: 79, 86, 59;
    --primary-700: 59, 64, 44;
    --primary-800: 39, 43, 29;
    --primary-900: 20, 22, 15;
    --primary-950: 10, 11, 7;

    --secondary-50: 245, 245, 242;
    --secondary-100: 235, 235, 229;
    --secondary-200: 215, 215, 203;
    --secondary-300: 195, 195, 177;
    --secondary-400: 175, 175, 151;
    --secondary-500: 165, 171, 133;
    --secondary-600: 110, 114, 89;
    --secondary-700: 82, 86, 63;
    --secondary-800: 55, 58, 37;
    --secondary-900: 27, 29, 11;
    --secondary-950: 14, 15, 6;

    --accent-50: 245, 242, 239;
    --accent-100: 235, 229, 223;
    --accent-200: 215, 203, 191;
    --accent-300: 195, 177, 159;
    --accent-400: 175, 151, 127;
    --accent-500: 167, 137, 99;
    --accent-600: 110, 90, 66;
    --accent-700: 82, 67, 49;
    --accent-800: 55, 44, 32;
    --accent-900: 27, 22, 15;
    --accent-950: 14, 11, 8;

    --brown-50: 245, 240, 237;
    --brown-100: 235, 225, 219;
    --brown-200: 215, 195, 183;
    --brown-300: 195, 165, 147;
    --brown-400: 175, 135, 111;
    --brown-500: 145, 102, 57;
    --brown-600: 97, 66, 38;
    --brown-700: 72, 49, 28;
    --brown-800: 48, 33, 18;
    --brown-900: 24, 16, 9;
    --brown-950: 12, 8, 4;

    --dark-50: 245, 242, 240;
    --dark-100: 235, 229, 225;
    --dark-200: 215, 203, 195;
    --dark-300: 195, 177, 165;
    --dark-400: 175, 151, 135;
    --dark-500: 90, 47, 13;
    --dark-600: 60, 31, 9;
    --dark-700: 45, 23, 6;
    --dark-800: 30, 15, 4;
    --dark-900: 15, 8, 2;
    --dark-950: 8, 4, 1;
}
